<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>netshoppingMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlets.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ShowProductServlet</display-name>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.servlets.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/ShowProductServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>SortProductServlet</display-name>
    <servlet-name>SortProductServlet</servlet-name>
    <servlet-class>com.servlets.SortProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortProductServlet</servlet-name>
    <url-pattern>/SortProductServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ShowProDetailServlet</display-name>
    <servlet-name>ShowProDetailServlet</servlet-name>
    <servlet-class>com.servlets.ShowProDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProDetailServlet</servlet-name>
    <url-pattern>/ShowProDetailServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>ShowCartServlet</display-name>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.servlets.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/ShowCartServlet</url-pattern>
  </servlet-mapping>
</web-app>